div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MuiCard-root {
  margin: 16px;
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(255, 4, 4, 0.2);
}

.MuiCard-root:hover {
  transform: scale(1.05);
}

.delete-button {
  color: red;
  border-color: red;
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 80px;
}

.delete-button:hover {
  background-color: red;
  color: rgb(247, 20, 20);
}

.MuiDialogTitle-root {
  background-color: #2196f3;
  color: white;
}

.MuiDialogContent-root {
  padding: 16px;
}

.MuiDialogActions-root {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.MuiAppBar-root {
  background-color: white;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.MuiTypography-h6 {
  flex-grow: 1;
}

.MuiTextField-root {
  width: 250px;
}

.MuiIconButton-root {
  padding: 4px;
}
